.wrapper{
	position: absolute;
	top: 0;
	left: 0; 
	overflow: hidden;
}
#body-size{
	display: block; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	opacity: 0; 
    z-index: -1000; 
	pointer-events: none;
}
/* TopNavigation - S
顶部导航栏 - pageheader/top-nav */
.page-header,.top-nav,.top-menu{
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.page-header{
	position: relative;
	top: .75vh;
}

.top-nav{
	width: calc(20rem - 1vmax);
}

.top-nav>a>img,.top-nav>a{
	display: inline-block;
	border-radius: 100%;
	width: 14vmax;
	max-width: calc(4.8rem - .5vw);
	vertical-align: middle;
	transition: .5s;
}

.logo>a{
	-webkit-user-select: none;
	display: inline-flex;
	flex-direction: column;
}

.logo>a>h1{
	display: block;
	font-family: Chillax-Medium, var(--font-family-regular);
	font-size: var(--logo-fs-h1);
}

.logo>a>h2{
	display: block;
	font-family: HuayingMincho, var(--font-family-regular);
	font-size: var(--logo-fs-h2);
}
#top-menu>*>*{
	-webkit-user-select: none;
	display: contents;
	padding: .6rem .6rem .6rem .6rem;
	transition: .5s;
	font-family: Chillax-Medium, var(--font-family-regular);
	font-size: var(--menu-fs-a);
}
#top-menu>*>*:hover{
	transition: .5s;
}
ul.top-menu{
	/* min-width/width 属性在main-menu.js设置 */
	justify-content: space-around;
}
/* TopNavigation - E*/

/* Content - S
主体内容 */
.content{
	display: flex;
	position: relative;
	margin: .5rem 0 .5rem 0;
	width: 100%;
	flex-flow: column nowrap;
}
.content>*{
	margin: var(--content-mg);
}
.intro{
	padding-top: var(--intro-padding);
	font-family: GeneralSans-Semibold, HuayingMincho, var(--font-family-regular);
}
.intro>*{
	word-break: keep-all;
	margin-bottom: .5rem;
}
.intro>h1{
	font-size: var(--intro-fs-h1);
}
.intro>h2{
	font-size: var(--intro-fs-h2);
	margin-bottom: 2rem;
}
.intro>p{
	margin:.2rem 0 0 0;
	text-align: left;
	font-size: var(--intro-fs-p);
	font-weight: 600;
	font-family: mazzardsoftm-light, HuayingMincho, var(--font-family-regular);
}

/* Content -E*/

/* HomeButton - S
主体导航按钮 */
#home-btn{
	display: flex;
	width: 30%;
	justify-content: flex-start;
}
#home-btn>*{
	margin: .5rem 1.5rem .5rem 0;
	list-style: none;
}
#home-btn>*>*{
	background-clip: text;
	color: transparent;
	background-color: transparent;
	font-family: SourceHanSansCN-Medium, var(--font-family-regular);
	letter-spacing: .07rem;
	word-break: keep-all;
}

#btn-about:after, #btn-article:after{
	position: absolute;
	left: 0;
	z-index: 2;
	opacity: .8;
	font-size: 70%;
	-webkit-text-stroke: initial;
	text-stroke: initial;
}
#btn-about:after{
	content: "关于本站";
}

/* 底部导航栏 BottomNavigation S */
.page-bottom{
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 10%;
}

.page-palette{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;
	margin-left: auto;
	min-width: 10%;
	height: 100%;
}
.page-palette>div{
	margin: 10% 0 10% 12%;
	cursor: pointer;
	user-select: none;
	width: .6rem;
	height: .6rem;
	background-color: blue;
	border-radius: 50%;
	transition: .3s;
}
.page-palette>#palette-orange:hover, .page-palette>#palette-rainberry:hover{
	opacity: .8;
	transition: .3s;
}
.page-palette>#palette-orange:after, .page-palette>#palette-rainberry:after{
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	padding: 5px 7px 5px 9px;
}