*, ::after, ::before {
    box-sizing: border-box;
}

:root{
	--font-family-regular: -apple-system, BlinkMacSystemFont, "Microsoft YaHei", "Segoe UI", "Roboto",
	"Helvetica Neue", Arial,sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--color-yellow-ls: #c2ad67;
	--color-grey-dark: #67646c;
	--color-grey-medium: #828281;
	--color-grey-medium-ls: #b6b6b5;
	--color-grey-light: #f4f3e7;
	--color-black: #3a3b40;
	--color-green-light: #d6e2a0;
	--color-green-dark: #70825f;
	--color-orange-dark: #d6ae8e;
	--color-orange-dark-hs: #eb841d;
	--color-orange-light: #f0cfab;
	--color-orange-light-hs: #ebc48c;
	--color-white: #fff4ea;
	--color-rainberry-pink-ls: #F5E6E8;
	--color-rainberry-pink: #FFC0CB;
	--color-rainberry-pink-dark: #99616c;
	--color-rainberry-pink-hs: #ff93c2;
	--color-rainberry-black: #433d42;
	--color-rainberry-pink-dark-ls: #d0a2ad;
	--logo-fs-h1: calc(3rem - .8vmax);
	--logo-fs-h2: calc(2rem - .9vmax);
	--menu-fs-a: calc(1rem + .1vmax);
	--intro-fs-h1: calc(2rem + 1.5vmax);
	--intro-fs-h2: calc(2rem + .9vmax);
	--intro-fs-p: calc(.5rem + .4vmax);
	--intro-padding: 5rem;
	--comm-btn: calc(1.2rem + .1vmax);
	--content-mg: 0rem 0 1.5rem 0;
}

html{
	width: 100%;
	height: 100%;
	font-size: 20px;
}
body{
	width: 100%;
	height: 100%;

}
img{
	transition: .3s;
}

#root{
	display: block;
	width: 100%;
	height: 100%;
}
div.wrapper{
	opacity: 0;
}
a{
	text-decoration: none;
}

p>a:hover{
	text-decoration: underline;
}

a,
body,
blockquote,
dl,
dd,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
img,
p,
pre,
ul{
    margin: 0;
    padding: 0;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
	line-height: 95%;
	font-weight: 800;
	float: none;
}
ul{
	list-style: none;
}

/* 响应式布局 */
@media screen and (max-width: 500px) {
	html{
		font-size: calc(10px + .7vmax);
	}
	.page-bottom{
		top: 10%;
	}
	.wrapper{
		padding: 2vw 5vw 3vw 5vw;
	}
	#top-nav{
		width: calc(18rem - 1vmax);
	}
	:root{
		--intro-fs-h1: calc(2rem + 2.4vmax);
		--intro-fs-h2: calc(2rem + 1.4vmax);
		--intro-fs-p: calc(.5rem + .8vmax);
		--intro-padding: calc(5.5rem + 6vh);
		--comm-btn: 1.5rem;
		--content-mg: 0rem 0 3rem 0;
	}
}
@media screen and (min-width: 500px) {
	html{
		font-size: calc(10px + .3vmax);
	}
	.wrapper{
		padding: 3vw 6vw 3vw 6vw;
	}
	:root{
		--intro-padding: calc(5.5rem + 2vh);
	}
	.page-bottom{
		top: 15%;
	}
}
@media screen and (min-width: 730px) {
	html{
		font-size: calc(14px + .3vmax);
	}
	.wrapper{
		padding: 3vw 7vw 5vw 7vw;
	}
	:root{
		--intro-padding: calc(5.5rem + 3vh);
	}
}
@media screen and (min-width: 1180px) {
	html{
		font-size: calc(15px + .4vmax);
	}
	.wrapper{
		padding: 3vw 6vw 5vw 6vw;
	}
	:root{
		--intro-padding: 4.3rem;
	}
	.page-bottom{
		top: 12%;
	}
}

@media screen and (min-width: 2048px) {
	html{
		font-size: calc(20px + .5vmax);
	}
}
@media screen and (min-height: 1024px) and (max-width: 1400px){
	html{
		font-size: calc(18px + .4vmax);
	}
	.wrapper{
		padding: 3vw 6vw 5vw 6vw;
	}
}

/* 主题色 */

/*.logo>a>h2,
#top-menu>*>*:hover,
#btn-about:after, 
#btn-article:after{
	color: var(--color-grey-medium);
}*/

/*.comm-btn,
.intro>h2,
p>a{
	color: var(--color-orange-light);
}*/

/*#top-menu>*>*,
.intro>p,
h1,
h2,
h3,
h4,
h5,
h6{
	color: var(--color-grey-dark);
}*/

/*.intro>p.intro-crucial{
	color: var(--color-orange-light-hs);
}*/